Source: keylime
Section: python
Priority: extra
Maintainer: Luke Hinds <7058938+lukehinds@users.noreply.github.com>
Build-Depends:
  debhelper(>=9),
  dh-python,
  python3,
  python3-simplejson,
  python3-zmq,
  python3-tornado,
  python3-distutils
Homepage: https://github.com/keylime/keylime.git

Package: python3-keylime
Architecture: any
Depends:
  ${misc:Depends},
  ${python3:Depends},
  python3-simplejson,
  python3-zmq,
  python3-tornado,
  python3-distutils,
  python3-m2crypto,
  python3-cryptography
Description: Open source TPM software for Bootstrapping and Maintaining Trust
  Keylime is a TPM based highly scalable remote boot attestation
  and runtime integrity measurement solution.

